<link rel="stylesheet" href="/stylesheets/product.css">

<%-include('../partials/header', {title: 'Combos'})%>
<main>
    <h2>Combos</h2>
    <section>
        <%for(let i = 0 ; i < productsCombos.length ; i++) { %>
        <article>
            <a href="/products/detail/<%=productsCombos[i].id%>">
                <img src="/images/products/<%=productsCombos[i].imagen%>" alt="">
                <h3><%=productsCombos[i].nombre%> </h3>
                <h3> $<%=productsCombos[i].precio%> </h3>
            </a>
        </article>
        <% } %>
    </section>
</main>
<%-include('../partials/footer')%>