<link rel="stylesheet" href="/stylesheets/product.css">

<%-include('../partials/header', {title: 'Destacados'})%>
<main>
    <h2>Productos destacados</h2>
    <% if (productos.length == 0 ){ %>
        <h3>No hay productos destacados</h3>
        <% } else {  %>
    <section>
        <%for(let i = 0 ; i < productos.length ; i++) { %>
        <article class="tarjeta-producto">
            <a href="/products/detail/<%=productos[i].id%>">
                <%if( productos[i].imagenes.length > 0) {%>
                <img src="/images/products/<%=productos[i].imagenes[0].ruta%>" alt="">
                <% } %>
                <h3><%=productos[i].nombre%> </h3>
                <div class="precios">
                    <%if( productos[i].stock <= 0) {%>
    
                        <h3 class="agotado">Agotado</h3>
                        <% } else{ %>   
                    <%if( productos[i].descuento > 0) {%>
                        <div class="tarjeta-dto">
                            <%=productos[i].descuento%>% Off
                        </div>
                    <h3 class= "tachado"> $<%=productos[i].precio%> </h3>
                    <h3 class="precioConDto">$<%=(productos[i].precio * (100-productos[i].descuento))/100%></h3>
                    <% } else{ %>
                        <h3> $<%=productos[i].precio%> </h3>
                    </div>
                    <% } %>
                    <% } %>

            </a>
        </article>
        <% } %>
    </section>
    <% } %>
</main>
<%-include('../partials/footer')%>