<link rel="stylesheet" href="/stylesheets/product.css">

<%-include('../partials/header', {title: 'Ofertas'})%>
<main>
    <h2>Ofertas</h2>
    <% if (ofertas.length == 0 ){ %>
        <h3>No hay ofertas nuevas disponibles</h3>
        <% } else {  %>
    <section>
        <%for(let i = 0 ; i < ofertas.length ; i++) { %>
        <article>
            <a href="/products/detail/<%=ofertas[i].id%>">
                <img src="/images/products/<%=ofertas[i].imagen%>" alt="">
                <h3><%=ofertas[i].nombre%> </h3>
                <h3> $<%=ofertas[i].precio%> </h3>
            </a>
        </article>
        <% } %>
        <% } %>
    </section>
</main>
<%-include('../partials/footer')%>