<link rel="stylesheet" href="/stylesheets/cambios.css">
<%-include('../partials/header', {title: 'Listado de productos'})%>
<main>
    
    <section class="section-form">
        <h2>Modificaciones</h2>
        <div class="botones">
            <a href="/products" class="confirmar-compra">Listado productos</a>
        </div>
        <form action="/products/cambios" method="POST">
        <%for(let i=0 ; i < productos.length ; i++) {%>
        <article class="grid-container">
            <div class="grid-item">
                <%if( productos[i].imagenes.length > 0) {%>
                <img src="/images/products/<%=productos[i].imagenes[0].ruta%>" alt="Imagen de producto">
                <% } %>
            </div>
            <div class="grid-item">
                <p class="nombre-producto"><%=productos[i].nombre%></p>
                <div>
                    <input class="grid-input" type="hidden" name="idProducto" id="idProducto" value='<%=productos[i].id %>'>
                </div>
            </div>
            <div class="grid-item">
                <label for="precioProducto">Precio:</label>
                <input class="grid-input" type="text" name="precioProducto" id="precioProducto" value= '<%=productos[i].precio %>' >
            </div>
            <div class="grid-item">
                <label for="stockProducto">Stock:</label>
                <input class="grid-input" type="text" name="stockProducto" id="stockProducto" value= '<%=productos[i].stock %>'>
            </div>
            <div class="grid-item">
                <label for="descuentoProducto">Descuento:</label>
                <input class="grid-input" type="text" name="descuentoProducto" id="descuentoProducto" value= '<%=productos[i].descuento %>'>
            </div>
        </article>
        <%  } %>
        <button type="submit" class="confirmar-compra">MODIFICAR</button>
        </form>
    </section>
</main>
<%-include('../partials/footer')%>
