<link rel="stylesheet" href="/stylesheets/productDetail.css">

<%-include('../partials/header', {title: product.nombre})%>
<main>
 <section class="detalleprod">
        <%for(let i = 0 ; i < product.imagenes.length ; i++) {%>
        <article class="image">
            <img src="/images/products/<%=product.imagenes[i].ruta%>" alt="Imagen del producto <%=product.nombre%>">
            <div>
                <h1 class="nombreprod"> <%=product.nombre%></h1>
                <h1 class="precioprod"> $ <%=product.precio%></h1>
                <form action="/carts/agregar/<%=product.id%>" method="POST" class="agregar-al-carrito">
                    <input type="number" name="cantidad" value="1" style="margin-bottom: 5px; width: 40px;">
                    <button type="submit">Agregar al carrito</button>
                </form>
            </div>
        </article>
        <% } %>
        <article class="detail">
            <p>Detalles del producto </p>
            <ul>
                <li>Color: <%=product.color%></li>
                <li><%=product.medidas%></li>
                <li><%=product.descripcion%></li>
            </ul>
        </article>
    </section> 
    <h2 class="titulorel">Productos relacionados</h2>
     <section class="relacionados">
        <%for(let i=0 ; i < productos.length ; i++) {
            if(product.categoria_id == productos[i].categoria_id && product.nombre != productos[i].nombre) { %>
        <a href="/products/detail/<%=productos[i].id%>">
            <article>
                <%if( productos[i].imagenes.length > 0) {%>
                <img src="/images/products/<%=productos[i].imagenes[0].ruta%>" alt="">
                <% } %>
                <h4><span class="producto"> <%=productos[i].nombre%></span><span class="precio"> $<%=productos[i].precio%> </span></h4>
                
            </article>
        </a>
        <% } } %>
    </section>
</main>
<%-include('../partials/footer')%>