<link rel="stylesheet" href="/stylesheets/productRubro.css">

<%-include('../partials/header', {title: 'Rubros'})%>
<main>
    <h2>Rubros</h2>
    <section class="rubros">
        <%for(let i=0 ; i < categorias.length ; i++) {%>
        <article class="tarjeta-rubro">
            <a href="/products/rubro/<%=categorias[i].id%>">
                <img src="/images/products/<%=categorias[i].imagen%>" alt="">
                <h3><%=categorias[i].nombre%></h3>
            </a>
        </article>
        <% } %>
    </section>
</main>
<%-include('../partials/footer')%>