<link rel="stylesheet" href="/stylesheets/productAdd.css">

<%-include('../partials/header', {title: 'Editar producto'})%>
<main>
    <section>
        <h2>Editar producto: <%= product.nombre%></h2>
        <form action="/products/edit/<%= product.id%>" method="POST" class="forms">
            <div class="contenedor-datos">
                <label for="nombreProducto">Nombre de Producto:</label>
                <input type="text" name="nombreProducto" id="nombreProducto" value= '<%=product.nombre %>' >
                <label for="precioProducto">Precio de Producto:</label>
                <input type="text" name="precioProducto" id="precioProducto" value= '<%=product.precio %>' >
                <label for="stockProducto">Stock de Producto:</label>
                <input type="text" name="stockProducto" id="stockProducto" value= '<%=product.stock %>' >
                <label for="descuentoProducto">Descuento de Producto:</label>
                <input type="text" name="descuentoProducto" id="descuentoProducto" value= '<%=product.descuento %>' >
                <label for="rubroProducto">Rubro:</label>
                <select name="rubroProducto">
                    <%for(let i=0 ; i < categorias.length ; i++) { %>
                        <%if(categorias[i].id == product.categoria_id) {%>
                        <option value="<%=categorias[i].id%>" selected>
                            <%=categorias[i].nombre%>
                        </option>
                        <% } else { %>
                            <option value="<%=categorias[i].id%>">
                                <%=categorias[i].nombre%>
                            </option>
                    <% } } %>
                </select>
                <label for="colorProducto">Color:</label>
                <input type="text" name="colorProducto" id="colorProducto" value='<%=product.color %>' >
                <label for="medidasProducto">Medidas:</label>
                <input type="text" name="medidasProducto" id="medidasProducto" value='<%=product.medidas %>' >
                <label for="descripcionProducto">Descripcion:</label>
                <textarea name="descripcionProducto" id="descripcionProducto" cols="45" rows="10"><%=product.descripcion%></textarea>
            </div>
            <div class="contenedor-img">
                <label for="imagen">Imagen de Producto:</label>
                <%if( product.imagenes.length > 0) {%>
                <input type="file" name="imagen" id="imagen" value="<%=product.imagenes[0].ruta%>">
                <% } %>
            </div>
            <div class="contenedor-botones">
                <button type="submit">Editar</button>
                <button type="reset">Resetear</button>
            </div>
        </form>
    </section>
</main>
<%-include('../partials/footer')%>