<link rel="stylesheet" href="/stylesheets/cambios.css">

<%-include('../partials/header', {title: 'Listado de productos'})%>
<main>
    <h2>Modificaciones</h2>
    <section>
        <form action="/products/cambios" method="POST">
        <%for(let i=0 ; i < productos.length ; i++) {%>
        <article>
            <%if( productos[i].imagenes.length > 0) {%>
            <img src="/images/products/<%=productos[i].imagenes[0].ruta%>" alt="Imagen de producto">
            <% } %>
            <p class="nombre-producto"><%=productos[i].nombre%></p>
            <div>
                <input type="hidden" name="idProducto" id="idProducto" value='<%=productos[i].id %>'>
            </div>
            <div>
                <label for="precioProducto">Precio:</label>
                <input type="text" name="precioProducto" id="precioProducto" value= '<%=productos[i].precio %>' >
            </div>
            <div>
                <label for="stockProducto">Stock:</label>
                <input type="text" name="stockProducto" id="stockProducto" value= '<%=productos[i].stock %>'>
            </div>
            <div>
                <label for="descuentoProducto">Descuento:</label>
                <input type="text" name="descuentoProducto" id="descuentoProducto" value= '<%=productos[i].descuento %>'>
            </div>
        </article>
        <%  } %>
        <button type="submit" class="nuevo-producto">MODIFICAR</button>
        </form>
    </section>
</main>
<%-include('../partials/footer')%>
