<link rel="stylesheet" href="/stylesheets/product.css">

<%-include('../partials/header', {title: categoria.nombre})%>
<main>
    <h2>Productos</h2>
    <section>
        <%for(let i = 0 ; i < categoria.productos.length ; i++) { %>
        <article>
            <a href="/products/detail/<%=categoria.productos[i].id%>">
                <img src="/images/products/<%=categoria.productos[i].imagen%>" alt="">
                <h3><%=categoria.productos[i].nombre%> </h3>
                <h3> $<%=categoria.productos[i].precio%> </h3>
            </a>
        </article>
        <% } %>
    </section>
</main>
<%-include('../partials/footer')%>