<link rel="stylesheet" href="/stylesheets/productList.css">
<%-include('../partials/header', {title: 'Listado de productos'})%>
<main>
    
    
    <section class="section-form">
        <h2>Listado de productos</h2>
        <div class="botones">
            <a href="/products/create" class="link-botones">Crear producto </a>
            <a href="/products/cambios" class="link-botones">Modificar Varios</a>
            <a href="/products/inactivos" class="link-botones">Productos inactivos</a>
        </div>
        <form action="">
            <%for(let i=0 ; i < productos.length ; i++) {%>
            <article class="grid-container">
                <div class="grid-item">
                    <%if( productos[i].imagenes.length > 0) {%>
                    <img src="/images/products/<%=productos[i].imagenes[0].ruta%>" alt="Imagen de producto">
                    <% } %>
                </div>
                <div class="grid-item">
                    <p class="nombre-producto"><%=productos[i].nombre%></p>
                </div>
                <div class="grid-item">
                    <p>$<%=productos[i].precio%></p>
                </div>
                <div class="grid-item">
                    <p><%=productos[i].descuento%>%</p>
                </div>
                <div class="grid-item">
                    <a href="/products/edit/<%=productos[i].id%>" class="confirmar-compra">EDITAR</a>
                </div>
                <div class="grid-item">
                    <a href="/products/destroy/<%=productos[i].id%>" class="confirmar-compra">ELIMINAR</a>
                </div>
            </article>
            <%  } %>
        </form>
    </section>
</main>
<%-include('../partials/footer')%>
