<link rel="stylesheet" href="/stylesheets/forms.css">

<%-include('../partials/header', {title: 'Carrito'})%>
<main>
    <h2>Tu Compra</h2>
    <%if(productsCart == []){ %>
        <h2>El carrito esta vacio</h2>
    <% } else { 
        var total = 0; 
        for(let i=0 ; i < productsCart.length ; i++) { %>
    <form action="/products/cart/<%=productCart[i].id%>" method="POST" class="forms formulario-carrito">
        <article>
            <img src="/images/products/<%=productsCart[i].imagen%>" alt="Imagen de producto seleccionado">
            <p><%=productsCart[i].nombre%></p>
            <p><input type="number" name="cantidad" value="1" class="cantidad"></p>
            <p>$<%=productsCart[i].precio%></p>
        </article>
        <article class="total-compra">
            <p>Total</p>
            <%total = total + productsCart[i].precio;
            } %> <!--Cierro el for-->
            <p>$<%=total%></p>
            <% } %> <!--Cierro el else-->
            
        </article>
        <button type="submit" class="confirmar-compra">Confirmar compra</button>
        <a href="/product">Seguir comprando</a>
    </form>
</main>
<%-include('../partials/footer')%>