<link rel="stylesheet" href="/stylesheets/productList.css">

<%-include('../partials/header', {title: 'Listado de productos'})%>
<main>
    <h2>Listado de productos</h2>
    <section>
        <%for(let i=0 ; i < productos.length ; i++) {%>

        <article>
            <%if( productos[i].imagenes.length > 0) {%>
            <img src="/images/products/<%=productos[i].imagenes[0].ruta%>" alt="Imagen de producto">
            <% } %>
            <p class="nombre-producto"><%=productos[i].nombre%></p>
            <p>$<%=productos[i].precio%></p>
            <p><%=productos[i].descuento%>%</p>
            <a href="/products/edit/<%=productos[i].id%>" class="links">EDITAR</a>
            <a href="/products/destroy/<%=productos[i].id%>" class="links">ELIMINAR</a>
        </article>
        <%  } %>
        <div class="boton">
        <a href="/products/create" class="botones">NUEVO PRODUCTO</a>
        <a href="/products/cambios" class="botones">MODIFICACIONES</a>
        <a href="/products/inactivos" class="botones">Productos inactivos</a>
        </div>
    </section>
</main>
<%-include('../partials/footer')%>
