<link rel="stylesheet" href="/stylesheets/index.css">
<script src="/js/avisoCarrito.js"></script>

<%-include('./partials/header', {title: ''})%>
<main>
  <section class="carrusel">
    <a href="">
      <img src="/images/portada.png" alt="">
    </a>
    <br>
  </section>
  <section class="secciones">
    <article>
      <a href="/products/destacados">
        <img src="/images/products/index-destacados.png" alt="destacados">
        <h3>Destacados</h3>
      </a>
    </article>
    <article>
      <a href="/products/ofertas">
        <img src="/images/products/index-ofertas.png" alt="ofertas">
        <h3>Ofertas</h3>
      </a>
    </article>
    <article>
      <a href="/products/rubro">
        <img src="/images/products/index-productos.png" alt="lineaproductos">
        <h3>Linea de productos</h3>
      </a>
    </article>
    <article>
      <a href="/products/combos">
        <img src="/images/products/index-combos.png" alt="Combos">
        <h3>Combos</h3>
      </a>
    </article>
  </section>
  <h2>Productos</h2>
  <section class="productos">
    <%for(let i=0 ; i < productos.length ; i++) {%>
    <%for(let j=0 ; j < productos[i].imagenes.length ; j++) {%>
    <article class="producto">
      <a href="/products/detail/<%=productos[i].id%>">
        <img src="/images/products/<%=productos[i].imagenes[0].ruta%>" alt="Producto">
        <h3><%=productos[i].nombre%></h3>
      </a>
    </article>
    <% } } %>
  </section>
  <section class="formulario">
    <form action="/mandarMail" method="POST">
      <h2 class="titulo-form">¡Escribinos!</h2>
      <input type="text" name="asunto" id="Asunto" placeholder="Asunto">
      <input type="email" name="email" placeholder="Email">
      <textarea name="mensaje" id="Mensaje" cols="30" rows="10" placeholder="Tu mensaje"></textarea>
      <button type="submit">Enviar</button>
    </form>
  </section>

<!-- The Modal -->
<div id="myModal-cart" class="modal-cart">

  <!-- Modal content -->
  <div class="modal-content">
      <span class="close">&times;</span>
      <p class="text"></p>
  </div>

</div>

</main>
<%-include('./partials/footer')%>