<style>
    main{
        text-align: center;
        display: flex;
        flex-flow: column;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    body{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        min-height: 100vh;
    }

    .section-form{
        display: flex;
        flex-flow: column;
        align-items: center;
        background-color: #faeded;
        margin: 10px;
        padding: 60px;
        border-radius: 20px;
    }

    .options-container{
        display: flex;
        flex-flow: column;
        justify-content: center;
        background-color: #faeded;
        margin: 10px;
        padding: 60px;
        border-radius: 20px;
    }

    .options-container a{
        color: #2e2e2e;
    }

    .forms{
        display: flex;
        flex-flow: column wrap;
        max-width: 800px;
        align-items: center;
    }

    .grid-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 12px;
    }

    .grid-item{
        width: 100%;
    }
    
    .grid-input{  
        padding: 15px;
        border: none;
        border-bottom: solid 1px #bbb4be;
        background: none;
    }

    .grid-input:focus{
        outline: none;
    }

    .guardar-cambios{
        border: none;
        border-radius: 5px;
        padding: 15px;
        width: 200px;
        color: white;
        background-color: rgb(46, 46, 46);
        font-size: 20px;
        margin-top: 30px;
    }
    .error-style{
        padding: 10px;
        font-size: .8rem;
        color: red;
    }

    @media(min-width: 786px){
        main{
            text-align: center;
            display: flex;
            flex-flow: row;
            justify-content: space-around;
        }

        .section-form{
            max-width: 700px;
            width: 700px;
            display: flex;
            flex-flow: column;
            align-items: center;
            background-color: #faeded;
            margin: 10px;
            padding: 60px;
            border-radius: 20px;
        }

        .grid-container{
            margin: auto;
            max-width: 500px;
        }

        .grid-item{
            width: 100%;
        }
        
        .grid-input{  
            max-width: 200px;
        }
    }

</style>
<%-include('../partials/header', {title: 'Hola ' + usuario.nombre})%>
<main>
    <% if (typeof errors != "undefined"){ %>
        <ul style="padding: 0;">
            <% for (var i= 0; i< errors.length ; i++) { %>
                <li style="list-style: none; color:red"> <%= errors[i].msg %> </li>
            <%}%>
        </ul>
    <%}%>
    <% if(typeof errorAlLoguear != "undefined"){ %>
        <p style="color:red"><%= errorAlLoguear %></p>
    <% } %>
    <section class="section-form">
        <h2>Cambiar contrase単a </h2>
        <form action="/users/password/<%=usuario.id%>" method="POST" class="forms">
            <div class="grid-container">
                <div class="grid-item">
                    <input class="grid-input" type="password" name="password" placeholder="Contrase単a anterior">
                </div>
                <div class="grid-item">
                    <input class="grid-input" type="password" name="passwordNew" placeholder="Contrase単a nueva">
                </div>
                <div class="grid-item">
                    <input class="grid-input" type="password" name="confirmPasswordNew" placeholder="Confirmar contrase単a nueva">
                </div>
            </div>
            <button class="guardar-cambios" type="submit">Guardar cambios</button>
        </form>
    </section> 
</main>
<%-include('../partials/footer')%>