<link rel="stylesheet" href="/stylesheets/forms.css">

<%-include('../partials/header', {title: 'Hola ' + usuario.nombre})%>

<main>
    <h2>Bienvenido <%=usuario.nombre%></h2>
    <% if (typeof errors != "undefined"){ %>
        <ul style="padding: 0;">
            <% for (var i= 0; i< errors.length ; i++) { %>
                <li style="list-style: none; color:red"> <%= errors[i].msg %> </li>
            <%}%>
        </ul>
    <%}%>
    <% if(typeof errorAlLoguear != "undefined"){ %>
        <p style="color:red"><%= errorAlLoguear %></p>
    <% } %>
    <div>
        <form action="/users/perfil/<%=usuario.id%>" method="POST" class="forms">
            <h3>Cambiar datos personales</h3>
            <input type="text" name="nombre" placeholder="Nombre" value="<%=usuario.nombre%>">
            <input type="text" name="apellido" placeholder="Apellido" value="<%=usuario.apellido%>">
            <input type="text" name="direccion" placeholder="Dirección" value="<%=usuario.direccion%>">
            <input type="text" name="telefono" placeholder="Teléfono" value="<%=usuario.telefono%>">
            <button type="submit">Guardar cambios</button>
        </form>
        <a class="cambioContra" href="/users/password/<%=usuario.id%>"> <h3>Cambiar contraseña</h3> </a>
</div> 
</main>
<%-include('../partials/footer')%>