<link rel="stylesheet" href="/stylesheets/profile.css">
<%-include('../partials/header', {title: 'Hola ' + usuario.nombre})%>
<main>
    <% if (typeof errors != "undefined"){ %>
        <ul style="padding: 0;">
            <% for (var i= 0; i< errors.length ; i++) { %>
                <li style="list-style: none; color:red"> <%= errors[i].msg %> </li>
            <%}%>
        </ul>
    <%}%>
    <% if(typeof errorAlLoguear != "undefined"){ %>
        <p style="color:red"><%= errorAlLoguear %></p>
    <% } %>
    <section class="datos-form">
        <h2>Mis datos personales</h2>
            <div class="grid-container">
                <div class="grid-item">
                    <p class="grid-input"> Nombre:  <%=usuario.nombre%> </p>
                </div>
                <div class="grid-item">
                    <p class="grid-input"> Apellido: <%=usuario.apellido%> </p>
                </div>
                <div class="grid-item">
                    <p class="grid-input"> Direccion: <%=usuario.direccion%> </p>
                </div>
                <div class="grid-item">
                    <p class="grid-input"> Provincia: <%=usuario.provincia%> </p>
                </div>
                <div class="grid-item">
                    <p class="grid-input"> Telefono: <%=usuario.telefono%> </p>
                </div>
            </div>
    </section>
    <div class="options-container">
        <a href="/users/editar/<%=usuario.id%>"> <h3>Cambiar datos usuario</h3> </a>
        <a href="/users/password/<%=usuario.id%>"> <h3>Cambiar contraseña</h3> </a>
        <%if(!locals.adminLogueado){%>
        <a href="/users/historialCompras/<%=usuario.id%>"> <h3>Historial de compras</h3> </a>
        <% } %>
        <%if(locals.adminLogueado){%>
        <a href="/users/registerAdmin"> <h3>Registrar administrador</h3> </a>
        <% } %>
        <!-- Trigger/Open The Modal -->
        <button id="myBtn" class="btn" style="background-color: #faeded;">
        <h3 style="color: red; text-decoration-color: red; text-decoration: underline;">ELIMINAR CUENTA</h3> 
        </button>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Estas seguro que deseas eliminar la cuenta?</p>
            <div class="links-modal">
            <a href="/users/destroy/<%=usuario.id%>" style="font-weight: bold;">Aceptar</a>
            <a href="" class="close">Cancelar</a>
            </div>
        </div>

    </div>
</main>
<%-include('../partials/footer')%>