<link rel="stylesheet" href="/stylesheets/profile.css">
<%-include('../partials/header', {title: 'Hola ' + usuario.nombre})%>
<main>
    <% if (typeof errors != "undefined"){ %>
        <ul style="padding: 0;">
            <% for (var i= 0; i< errors.length ; i++) { %>
                <li style="list-style: none; color:red"> <%= errors[i].msg %> </li>
            <%}%>
        </ul>
    <%}%>
    <% if(typeof errorAlLoguear != "undefined"){ %>
        <p style="color:red"><%= errorAlLoguear %></p>
    <% } %>
    <section class="datos-form">
        <h2>Mis datos personales</h2>
            <div class="grid-container">
                <div class="grid-item">
                    <p class="grid-input"> Nombre:  <%=usuario.nombre%> </p>
                </div>
                <div class="grid-item">
                    <p class="grid-input"> Apellido: <%=usuario.apellido%> </p>
                </div>
                <div class="grid-item">
                    <p class="grid-input"> Direccion: <%=usuario.direccion%> </p>
                </div>
                <div class="grid-item">
                    <p class="grid-input"> Provincia: <%=usuario.provincia%> </p>
                </div>
                <div class="grid-item">
                    <p class="grid-input"> Telefono: <%=usuario.telefono%> </p>
                </div>
            </div>
    </section>
    <div class="options-container">
        <a href="/users/editar/<%=usuario.id%>"> <h3>Cambiar datos usuario</h3> </a>
        <a href="/users/password/<%=usuario.id%>"> <h3>Cambiar contraseña</h3> </a>
        <%if(!locals.adminLogueado){%>
        <a href="/users/historialCompras/<%=usuario.id%>"> <h3>Historial de compras</h3> </a>
        <% } %>
        <%if(locals.adminLogueado){%>
        <a href="/users/registerAdmin"> <h3>Registrar administrador</h3> </a>
        <% } %>
        <a href="/users/destroy/<%=usuario.id%>"> <h3 style="color: red; text-decoration-color: red;">ELIMINAR CUENTA</h3> </a>
    </div>
</main>
<%-include('../partials/footer')%>